{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Log In{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post" class="g-3">
    <div class="mb-3 col-4">
      <label for="username" class="form-label">Username</label>
      <input name="username" id="username" class="form-control" required>
    </div>
    <div class="mb-3 col-4">
      <label for="password" class="form-label">Password</label>
      <input type="password" name="password" id="password" class="form-control" required>
    </div>
    <div class="mb-3">
      <button type="submit" class="btn btn-primary">Log In</button>
    </div>
  </form>
{% endblock %}