{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Implant {{ implant['id'] }}{% endblock %}</h1>
{% endblock %}

{% block content %}
<div>
  Here is information for implant id {{ implant['id'] }}
  <ul>
    <li>Computer name: {{ implant['computer_name'] }}</li>
    <li>Last seen: {{ implant['last_seen'] }}</li>
    <li>Computer user: {{ implant['computer_user'] }}</li>
    <li>Computer privileges: {{ implant['computer_privileges'] }}</li>
    <li>Connecting ip address: {{ implant['connecting_ip_address'] }}</li>
  </ul>

  <hr />

  <h2>Send command to implant</h2>
  <form method="post" action="{{ url_for('operator.store_command_for_implant', id=implant['id']) }}" class="g-3">
    <div class="mb-3 col-4">
      <label for="command_type" class="form-label">Command type</label>
      <input name="command_type" id="command_type" class="form-control" required>
    </div>
    <div class="mb-3 col-4">
      <label for="command_text" class="form-label">Command text</label>
      <textarea name="command_text" id="command_text" class="form-control" required></textarea>
    </div>
    <div class="mb-3">
      <button type="submit" class="btn btn-primary">Send Command</button>
    </div>
  </form>

  <hr />

  <p>TODO: list existing commands</p>
</div>
{% endblock %}