{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Implant {{ implant['id'] }}{% endblock %}</h1>
{% endblock %}

{% block content %}
<div>
  Here is information for implant id {{ implant['id'] }}
  <ul>
    <li>Computer name: {{ implant['computer_name'] }}</li>
    <li>Computer guid: {{ implant['computer_guid'] }}</li>
    <li>Last seen: {{ implant['last_seen'] }}</li>
    <li>Computer user: {{ implant['computer_user'] }}</li>
    <li>Computer privileges: {{ implant['computer_privileges'] }}</li>
    <li>Connecting ip address: {{ implant['connecting_ip_address'] }}</li>
  </ul>

  <hr />

  <h2>Send command to implant</h2>
  <form method="post" action="{{ url_for('operator.store_command_for_implant', id=implant['id']) }}" class="g-3">
    <div class="mb-3 col-4">
      <label for="command_type" class="form-label">Command type</label>
      <input name="command_type" id="command_type" class="form-control" required>
    </div>
    <div class="mb-3 col-4">
      <label for="command_text" class="form-label">Command text</label>
      <textarea name="command_text" id="command_text" class="form-control" required></textarea>
    </div>
    <div class="mb-3">
      <button type="submit" class="btn btn-primary">Send Command</button>
    </div>
  </form>

  <hr />

  <h2>Existing Commands</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Command type</th>
        <th scope="col">Command text</th>
        <th scope="col">Time issued</th>
        <th scope="col">Status</th>
        <th scope="col">Result</th>
      </tr>
    </thead>
    <tbody>
      {% for command in commands %}
      <tr>
        <td>{{ command['command_type'] }}</td>
        <td>{{ command['command_text'] }}</td>
        <td>{{ command['time_issued'] }}</td>
        <td>{{ command['status'] }}</td>
        <td>{{ command['command_result'] }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}